<div class="container">
  <div class="panel panel-info pass-reset">
    <div class="panel-heading">Resend confirmation instructions</div>
    <div class="panel-body ">
      <%= simple_form_for resource, as: resource_name,
        url: confirmation_path(resource_name), html: { method: :post } do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :confirmation_token %>

        <%= f.input :email, required: true, autofocus: true %>

        <%= f.button :submit, "Resend confirmation instructions",
          class: "btn btn-info btn-block" %>
      <% end %>
    </div>
  </div>
</div>
