<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <div class="avatar"><%= image_tag @user.avatar.avatar %></div>
        <h3 class="text-center"><%= @user.username %></h3>
        <div class="user-info">
          <h5><%= t "users.full_name" %>: <%= @user.full_name %></h5>
          <h5><%= t "users.email" %>: <%= @user.email %></h5>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
