<div class="container">
  <div class="panel panel-info pass-reset">
    <div class="panel-heading"><h3><%= t "user_form.change_pass" %></h3></div>
    <div class="panel-body ">
      <%= simple_form_for resource, as: resource_name,
        url: password_path(resource_name), html: { method: :put } do |f| %>
        <%= f.error_notification %>

        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>

        <%= f.input :password, label: t("user_form.new_pass"), required: true,
          autofocus: true, hint: ("#{@minimum_password_length}
          #{t("user_form.chars_min")}" if@minimum_password_length) %>
        <%= f.input :password_confirmation, label: t("user_form.confirm_pass"),
          required: true %>

        <%= f.button :submit, t("user_form.save_new_pass"), class: "btn btn-info btn-block" %>
      <% end %>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>
</div>
