<div id="review-comment-form-<%= review.id %>", style="display: none">
  <%= simple_form_for [review, Comment.new], remote: true do |f| %>
    <%= f.input :body, as: :text, label: false,
      placeholder: "Write your comment" %>
    <%= f.button :submit, "Save", class: "btn btn-sm btn-default" %>
  <% end %>
  <%= render partial: "comments/comment", locals: {comments: review.comments} %>
</div>
