<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th><%= t "orders.name" %></th>
      <th><%= t "orders.details" %></th>
      <th><%= t "orders.status" %></th>
      <th><%= t "orders.actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
      <tr>
        <td><%= order.user.full_name %></td>
        <td><%= link_to t("orders.details"), order_path(order) %></td>
        <td class="status">
          <%= simple_form_for order, method: :patch, remote: true,
            html: {class: "update-status"} do |f| %>
            <%= f.input :status, collection: Order.statuses.keys,
              prompt: order.status %>
          <% end %>
        </td>
        <td class="del-order">
          <%= link_to t("orders.delete"), order, remote: true, method: :delete,
            data: {confirm: t("confirm.sure")}, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

