<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header text-center"><h3><%= t "user_form.wb" %></h3></div>
    <div class="modal-body ">
      <div id="login-errors"></div>
      <%= simple_form_for resource, as: resource_name,
        url: session_path(resource_name), remote: true, html: {id: "login-form"} do |f| %>

        <%= f.input :login, label: false, placeholder: t("user_form.email_username"),
          autofocus: true %>

        <%= f.input :password, label: false, placeholder: t("user_form.password"),
          autocomplete: "off" %>

        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

        <%= f.button :submit, t("user_form.login"), class: "btn btn-info btn-block" %>
      <% end %>
    </div>
    <div class="modal-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
