<div class="banner dark">
  <div class="container foot-top">
    <h6 class="care"><%= t "foot-top.care" %></h6>
    <ul class="menu">
      <li><%= link_to t("foot-top.help"), "" %></li>
      <li><%= link_to t("foot-top.privacy"), "" %></li>
      <li><%= link_to t("foot-top.service"), "" %></li>
    </ul>
  </div>

  <div class="container foot-bot">
    <div class="footer">
      <p>&copy; <%= t "home.title" %></p>
    </div>
  </div>
</div>
